.Cards{
    background: cornflowerblue;
    padding: 5em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .card{
        border: 2px solid whitesmoke;
        width: 300px;
        height: 250px;

        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
}